/.bundle/
/vendor/bundle/
/*.gem
/crash.log
/output
/git
*.orig
/tmp
/libexec/virtualenv.pyc
/.awscli
/install
/vendor/projects
/config/*.yml
/config/*.pem
/config/*.txt
/var
/.vagrant
/boxes
/Vagrantfile
/vendor/cache/vagrant/.bundle/
/vendor/cache/vagrant/vendor/bundle
